api_encryption_key: "don't expect me to publish it"

ota_key: "are you serious?"

wifi:
  id: wifi_id
  networks:
    - ssid: "some wireless fiction network"
      password: assword
    - ssid: "some other wireless network"
      password: foobar
  
  on_connect:
    - lambda: |-
        const auto is_ha = id(wifi_id).wifi_ssid() == "wireless network with HA";
        const auto reboot_timeout = is_ha ? (5*60*1000) : 0;
        ESP_LOGD("wifi init", "is_ha: %d, reboot_timeout: %d", is_ha, reboot_timeout);
        id(ha_api).set_reboot_timeout(reboot_timeout);

  reboot_timeout: 0s  # disable; already handled in API component

light_auto_on_condition:
  lambda: 'return id(wifi_id).wifi_ssid() == "wireless network without HA";'
